@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-my-white text-my-black font-pretendard;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none;
    user-select: none;
  }
}
